@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
html {
    scroll-behavior: smooth;
    scrollbar-color: snow black;
}

::-webkit-scrollbar {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: snow;
    -webkit-border-radius: 0.2em;
} 

body {
    margin: 0;
    
}

.top__line {
    display: none;
}

.menu {
    position: absolute;
    width: 108vw;
    top: -13.8em;
    text-align: center;
    margin: 0;
    background-color: rgba(0, 0, 250, 0.9);
    z-index: 2;
    transition: 0.8s ease-in-out;
}

.menu__clicked {
    top: 0em;
    transition: 0.8s ease-out;
}

.menu__item {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    padding: 0.2em;
    display: block;
    color: white;
    max-width: max-content;
    margin: 0 auto;
}

.menu__item:hover {
    color: crimson;
}

.menu__item:active {
    color: crimson;
}

.menu__title {
    color: darkblue;
    font-size: 1.5em;
    text-indent: 0em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Bangers', cursive;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: 0;
}

.main__goback {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 250, 0.6);
    padding: 0.6em;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 2;
    font-size: 1.2em;
}

.main__content {
    position: relative;
    top: 4em;
    display: grid;
    grid-template-columns: 1fr;
}

.section {
    width: 100vw;
    margin: 0;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.section__photo {
    max-width: 30%;
    border-radius: 50%;
    padding: 0 0.5em 0 0.5em;
    float: left;
}

.download__section {
    text-align: center;
}

.download__section--button {
    background-color: rgba(0, 0, 250, 0.3);
    padding: 0.8em;
    margin: 0 1.5em;
    border-radius: 0.2em;
}

p {
    text-indent: 2em;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.8em;
}

a {
    text-decoration: none;
}

table {
    padding-left: 0.5em;
}

tr {
    height: 2em;
}

td {
    padding: 0.5em 0.5em 0.5em 0;
}

.pricelist__table {
    margin: 0;
    border-radius: 0.2em;
    border-style: solid;
    border-color: rgba(0, 0, 250, 0.6);
    border-width: 0.08em;
}

.summary__window {
    display: none;
    transition: 0.8s ease-out;
}

.summary__window__visible {
    display: block;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 5%;
    left: 5%;
    margin: 5% auto;
    padding: 0.5em;
    border: solid rgba(0, 0, 250, 0.6) 0.10em;
    border-radius: 0.2em;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.96);
    color: snow;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.8s ease-out;
    overflow: scroll;
}

.summary__window__visible p {
    text-indent: 0;
}

.summary__window--heading {
    text-align: center;
}

.summary__window--query li {
    list-style: '✓ ';
    line-height: 2em;
}

.summary__window button {
    border: solid snow 3px;
        border-radius: 1em;
        color: snow;
        font-family: Arial, Helvetica, sans-serif;
        background-color: transparent;
        transition: ease-in-out 0.6s;
    }
.summary__window button:hover {
        background-color: rgb(0, 0, 250);
        transition: ease-in-out 0.6s;
    }

.query__table {
    width: 100vw;
}

input, textarea, select {
    box-sizing: border-box;
    border-radius: 1em;
    padding: 0.8em;
    border-style: solid;
    border-color: rgba(0, 0, 250, 0.6);
    border-width: 0.08em;
    justify-content: center;
    font-size: 1em;
}

.required::after {
    content: " *";
    color: red;
}

.form__wordcount__invisible {
    display: none;
}

.form__wordcount__visible {
    display: inline;
    margin: 0 auto;
}

.form__captions__invisible {
    display: none;
}

.form__captions__visible {
    display: inline;
    margin: 0 auto;
}

button {
    padding: 1.5em;
}

.section__breaker {
    height: 2em;
    display: block;
    background-color: rgba(0, 0, 250, 0.6);
    margin: 3em 0;
}

.section__breaker:before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 250, 0.8);
    height: 1em;
}

.section__breaker:after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 250, 0.3);
    height: 2em;
}

footer {
    margin: 0 0.8em;
}

@media screen and (min-width:768px) {
    body {
        background-image: url(images/background.jpg);
        background-size: 100vw 100vh;
        background-attachment: fixed;
        width: 100%;
        margin: 0;
    }
    .top__line {
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1em;
        margin: 0;
    }
    .top__line--logo {
        padding-left: 1em;
        height: 40px;
        z-index: 4;
    }
    .top__line--contact {
        position: absolute;
        display: inline-block;
        font-family: 'Dosis', 'Arial';
        font-size: 0.8em;
        align-self: right;
        margin-right: 0.3em;
        right: 16px;
    }
    .top__line--contact p {
        margin: 0;
    }
    .top__line--contact a {
        color: snow;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
    .top__line--contact a:hover {
        border-bottom: solid rgb(0, 0, 250) 3px;
    }
    h1 {
        display: inline;
        padding: 1em;
        z-index: 3;
        color: white;
        font-family: 'Dosis', 'Arial';
    }
    .menu {
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        position: sticky;
        padding: 1em 0;
        width: 100%;
        margin: 0;
    }
    .menu__item {
        display: inline;
        padding: 0.4em;
        margin: 0 0.6em;
        color: white;
    }
    .menu__item:hover {
        color: white;
        border-bottom: solid rgb(0, 0, 250) 3px;
    }
    #wycena__style {
        background-color: rgba(0, 0, 250, 0.9);
        padding: 0.4em;
        border-radius: 0.2em;
    }
    #wycena__style:hover {
        border-bottom: solid white 3px;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
    }
    .menu__title {
        display: none;
    }

    .progress__bar {
        position: sticky;
        top: 58px;
        background-color: rgb(0, 0, 250);
        height: 5px;
        width: 0%;
        max-width: 100%;
        z-index: 10;
    }

    .main__goback {
        display: none;
    }
    .main__content {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        margin: -5em 0 0 0;
        padding: 0;
    }
    .section {
        width: 60vw;
        margin: 0 auto;
    }
    h2 {
        font-family: 'Dosis', 'Arial';
        font-size: 4em;
        color: lightgray;
        text-align: left;
        width: fit-content;
        padding-top: 59px;
        padding-left: 0.3em;
        padding-right: 0.3em;
        border-bottom: solid rgba(0, 0, 250, 0.9) 5px;
        margin-top: 0;
        margin-bottom: 0.1em;
    }
    p, h3, h4, h5 {
        color: snow;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }
    h3 {
        font-size: 2em;
    }
    h4 {
        margin-top: 0;
        margin-bottom: 2em;
    }
    .download__section--button {
        border: solid snow 3px;
        border-radius: 1em;
        color: snow;
        font-family: Arial, Helvetica, sans-serif;
        background-color: transparent;
        transition: ease-in-out 0.6s;
    }
    .download__section--button:hover {
        background-color: rgb(0, 0, 250);
        transition: ease-in-out 0.6s;
    }
    .section__breaker {
        display: none;
    }
    .pricelist__table {
        color: snow;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        margin: 0 auto;
        border: solid snow;
    }
    .query__table {
        margin: 0 auto;
        width: 20vw;
        text-align: center;
        color: snow;
    }
    select:hover {
        color: black;
    }
    select {
        width: 25vw;
        background-color: transparent;
        border: solid snow;
        color: snow;
    }
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
        -webkit-text-fill-color: snow;
        transition: background-color 5000s ease-in-out 0s;
    }
    input, textarea {
        width: 25vw;
        background-color: transparent;
        border: solid snow;
        color: snow;
        font-family: Arial, Helvetica, sans-serif;
    }
   
    label {
        font-family: Arial, Helvetica, sans-serif;
    }
    .form__button {
        width: 8vw;
        color: snow;
        transition: ease-in-out 0.6s;
    }
    .form__button:hover {
        background-color: rgb(0, 0, 250);
        transition: ease-in-out 0.6s;
    }
    footer {
        color: snow;
        z-index: 4;
    }
}